#page-wrapper {

	width: 1100px;
	padding: 0px;
	margin: auto;

	#main-left-section {
		float: left;

		padding-left: 20px;
		width: 820px;


		#article-item {
			float: left;
			width: 100%;
			padding: 3px;
			/*background: #efefef;*/
			border-radius: 2px;

			.article {
				background: #fafafb;
				border-radius: 2px;
				border: 1px solid #d8d8d8;
				list-style: none;

				.item-header {
					background: #fff;
					height: 50px;
					line-height: 50px;
					vertical-align: center;
					border-left: 2px solid #d26911;
					padding-left: 15px;
					font-weight: bold;
					color: #222;
					cursor: default;
					box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
				}

				.item {
					background: #fff;
					font-weight: normal;
					color: #222;
					cursor: default;
					box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
					padding: 20px;

				}
				
			}

		}

		#article-item:hover {
			background: #efefef;
		}


	}

	#tiny-right-section {
		float: right;

		width: 250px;


		#new-article-box {
			text-align: center;

			.new-article {
				width: 200px;

				font-weight: bold;
				font-size: 120%;

				height: 40px;
				vertical-align: middle;
			}
		}

	}

}